<div class="main-container">
    <div class="title-container">
      <h2 class="subtitle">Discover the <span>WORLD</span></h2>
      <h1 class="title">{{titleText}}</h1>
      <hr>
      <p>
        we believe that the greatest experiences come from stepping outside your comfort zone. Our site is all about helping you find new and exciting ways to challenge yourself, push your limits, and embrace the unknown.
      </p>
      <button class="main-button" [routerLink]="'/discover'">DISCOVER NOW</button><!--TODO see if click can go down-->
    </div>
</div>