.card-container{
  max-width: 40%;
  padding: 1rem;
  margin: 10px;

  button{
    color: white;
    border: 1px solid cadetblue;
    border-radius: 5px;
    background-color: cadetblue;
  }
  h2{
    color: cadetblue;
  }
}